version: "3.8"

services:
  redis:
    image: redis:7
    container_name: order-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: order-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: order_execution
    ports:
      - "5432:5432"
    restart: unless-stopped
